.navbar{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:1.5rem;
}
.links{
    display:flex;
    justify-content: center;
    gap:1.2rem;
    align-items: center;
}
.links a{
    color:#8ea6bb;
    text-decoration: none;
    font-weight:600;
}
.links a:hover{
    color:var(--white);
    transition:all .5s;
}
.gradiant{
   position:absolute;
   width:800px;
   height:150px;
   margin:auto;
   background-color: #18b2de;
   filter:blur(90px);
   z-index: -1;
   top:-120px;
}
.active{
    color:var(--white) !important;
}